.html,body{
    overflow-x: hidden;
}

.Home{
    position:absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 400vh;
}

.container{

}

.HomeDashBoard{
    
}

.HomeBoard{
    display: flex;
    position: absolute;
    top: 8vh;
    width: 100%;
    height: 42vh;
    background-color: dodgerblue;
}


.HomeBoard-title{
    display: flex;
    position:relative;
    font-size: 2.4vw;
    font-family:'Arial';
    font-weight: bolder;
    top: 7vh; left: 10%;
    width: fit-content;
}
.HomeBoard-title-desc{
    position: absolute;
    top: 21vh; left: 10.2%;
    font-size:larger;
}

.HomeBoard-search{
    position: absolute;
    top: 28vh; left: 10.2%;
    width: 28%;
    height: 2vh;
    font-size: small;
    border-radius: 14px;
    background-color: aliceblue;
    color: black;
}

.HomeBoard-food{
    position: absolute;
    width: 30%;
    height: 30vh;
    display: flex;
    left: 72%;
}

.HomeBoard-food-holder{
    position: absolute;
    top: 33vh;
    left: 70.5%;
    width: 30%;
    height: 30vh;
    z-index: 0;
}

.Home3Sections-text{
    position:absolute;
    top: 57vh;
    left: 10%;
    font-size: 1.8vw;
    font-weight: 500;
}

.Home3Sections-line{
    position: absolute;
    top: 61.6vh; left: 10%;
    width: 5%;
    background-color: #F59E0B;
    border-color: #F59E0B;
    height: 0.5vh;
    border-radius: 16px;
}

.Home3Sections-container{
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 68vh;
    left: 10%;

}

.Home3Sections{
    position: relative;
    height: 28vh;
    width: 25vw;
    background-color: #1A1A2E;
    border-radius: 12px;
    border-style:groove;
    border-width: 1;
    border-color:#CEBDFF;

}

.HomeFeatured-background{
    display: flex;
    position: absolute;
    top: 105vh;
    height: 75vh;
    width: 100%;
    background-color: #0f0f1b;
}

.HomeCreate-Account{
    display: flex;
    position: absolute;
    top: 180vh;
    height: 55vh;
    width: 100%;
    background-color: #13132b75;
}